// COLOR VARIABLES
$color-primary: #14a1a8;
$color-primary-light: #5dd3d9;
$color-primary-dark: #007279;

$color-secondary: #343959;
$color-secondary-light: #5f6386;
$color-secondary-dark: #0b1430;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #707070;

$color-grey-dark-1: #454545;
$color-grey-dark-2: #1e1e1e;

// FONT VARIABLES
$font-primary: 'Montserrat', sans-serif;
$font-display: 'Nunito', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% --> 1 rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-size: 1.6rem;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 100vh 40vw repeat(2, min-content) 40vw min-content;
  grid-template-columns:
    [sidebar-start] 8rem
    [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];

  @media only screen and (max-width: $bp-large) {
    grid-template-rows: 6.8rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns:
      [full-start] minmax(6rem, 1fr)
      [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
      [center-end] minmax(6rem, 1fr)
      [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 6.8rem calc(100vh - 6rem);
  }
}
