.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / full-end;
  background-image: linear-gradient(rgba($color-secondary, 0.9), rgba($color-secondary, 0.9)), url(../../img/background.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
  justify-content: center;
  row-gap: 1.5rem;

  & h3,
  h1 {
    grid-column: 1 /-1;
    justify-self: center;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }
  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 1.5rem;
    justify-self: center;
    grid-column: 1 / -1;
  }
  &__btn {
    width: max-content;
  }

  &__logo {
    grid-column: 1 / -1;
    height: 30rem;
    width: 30rem;
    justify-self: center;
  }
}
