.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  // position: fixed;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  padding-top: 3rem;
  > span {
    display: block;
    width: 3rem;
    height: 0.3rem;
    background-color: $color-grey-dark-2;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 2rem;
  }
}
